<h2>
{% if attachment['in_grace_period']|default(True) == True %}
<a href="/attachment/{{ attachment.aid }}" class="download-link">{{ attachment.name }}</a>
{% else %}
{{ attachment.name }} 
{% endif %}
</h2>

<div class="additional-item-info">
    <ul>
        <li><span class="key">Hochgeladen am:</span> <span class="value">{{ attachment.uploaded }}</span></li>
        <li><span class="key">Anhang von:</span> <span class="value">"{{ attachment.doc_title }}" vom {{ attachment.doc_upload_time }} </span></li>
        <li><span class="key">Hochgeladen nach Rückgabe:</span> <span class="value">{{ attachment.delta_upload }}</span></li>
        <li><span class="key">SHA-256 Prüfsumme:</span> <span class="value">{{ attachment.checksum }}</span></li>
        <li><span class="key">Dokument ID:</span> <span class="value">{{ attachment.aid }}</span></li>
        <li><span class="key">Nutzer ID:</span> <span class="value">{{ attachment.user_id }}</span></li>
    </ul>
    {% if attachment['in_grace_period']|default(True) == False %}
    <p>
    Auf dem Server ist nur eine komprimierte Version der Abgabedatei gespeichert. Die Originaldatei mit der angegebenen Prüfsumme muss auf Anfrage vorgelegt werden können.
    <a href="https://emn178.github.io/online-tools/sha256_checksum.html" target="_blank">Hier</a> kann die SHA-256 Prüfsumme einer Datei berechnet werden.
    </p>
    {% endif %}

    <h4>Validierungscode</h4>
    <p>Die oberen Informationen sind in dem folgenden Validierungscode verschlüsselt. Dieser gilt als Nachweis für die Abgabe. Diese Seite sollte als Nachweis gesichert werden.</p>
    <canvas id="qr"></canvas>

</div>

<script>
    {% include 'scripts_attachment.js' %}
</script>